@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

:root {
  --sedan-bg: hsl(31, 77%, 52%);
  --suv-bg: hsl(184, 100%, 22%);
  --luxury-bg: hsl(179, 100%, 13%);

  --paragraphs: hsla(0, 0%, 100%, 0.75);
  --backgrounds: hsl(0, 0%, 95%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 15px !important;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0 1.5rem;
}

main {
  font-family: 'Lexend Deca', sans-serif;
  border-radius: 0.6rem;
  overflow: hidden;
}

main .grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
}

.grid .grid-item {
  padding: 3rem;
}

.grid .grid-item.sedan {
  background-color: var(--sedan-bg);
}

.grid .grid-item.suv {
  background-color: var(--suv-bg);
}

.grid .grid-item.luxury {
  background-color: var(--luxury-bg);
}

.grid-item .item-title {
  font-size: 2.5rem;
  font-family: 'Big Shoulders Display', sans-serif;
  color: var(--backgrounds);
  margin: 2rem 0;
}

.grid-item .item-description {
  color: var(--paragraphs);
  line-height: 1.7em;
  margin-bottom: 1.8rem;
}

.grid-item .item-button {
  background-color: var(--backgrounds);
  width: 60%;
  text-align: center;
  padding: 1rem;
  border-radius: 2rem;
}

.grid-item .item-button.sedan {
  color: var(--sedan-bg);
}

.grid-item .item-button.suv {
  color: var(--suv-bg);
}

.grid-item .item-button.luxury {
  color: var(--luxury-bg);
}

@media screen and (min-width: 1000px) {
  main .grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    max-width: calc(950px - 2 * 1.5rem);
  }

  .grid-item .item-description {
    margin-bottom: 6rem;
  }

  .grid-item .item-button {
    width: 75%;
  }

  .grid-item .item-button:hover {
    outline: 1px solid var(--backgrounds);
    background-color: transparent;
    color: var(--backgrounds);
    transition: all 0.2s ease-in-out;
  }
}